/* Global */
@font-face {
	font-family: "Gowun_Batang";
	src: url(./assets/fonts/Gowun_Batang/GowunBatang-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Gowun_Dodum";
	src: url(./assets/fonts/Gowun_Dodum/GowunDodum-Regular.ttf);
}

html {
	overflow: scroll;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

header {
	font-family: "Gowun Batang";
	color: #FFFAFF;
    display: flex;
	background-color: #272635;
    align-items: center;
}

body {
	font-family: "Gowun Dodum";
	background-color: #252627;
	color: #FFFAFF;
	margin: 0;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 20% 70% 10%;
	grid-gap: 3%;
}

header img {
	height : 80%;
    padding : 3vh 0vw 3vh 1vw;
}

header h1 {
    flex-grow: 1;
    text-align: center;
	font-size: 5.5vmin;
}

a:link {
	color: #FFFAFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFFAFF;
}
a:hover {
	text-decoration: none;
	color: #bab3ba;
}
a:active {
	text-decoration: none;
}

/*Rules - Page*/
main {
	display : grid;
	grid-template-columns: 1;
	grid-template-rows: 1;
}

.rules {
	display:flex;
	align-items: center;
	justify-content: space-around;
	visibility:visible;
	grid-row: 1;
	grid-column: 1;
}

.rules section {
	max-width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.ruletext {
	padding: auto;
}

.ruleimg img{
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 10px 2vh black; 
}

.rules h1 {
	font-size: 5vmin;
	text-align: center;
}
.rules p {
	text-justify: justify;
	text-align: center;
	font-size: 4vmin;
}
.rules b {
	font-size: 4.5vmin;
}
/*footer*/
.circle {
	height: 6vh;
	width: 6vh;
	background-color: white;
	border-radius: 50%;
	margin: 0vw 1vw;
}

#slide-buttons {
	display:flex;
	justify-content: center;
	align-items: center;
}

/*Project Page*/
#project {
	display: flex;
	flex-direction: column;
	font-size: 3vmin;
}

#project .qa {
	padding: 0% 10%;
}

#project h2 {
	font-size: 4vmin;
}

/*Github Page*/
#git-integration {
	height: 70vh;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 10vmin;
}

/*About Page*/
#bojji {
	border-radius: 50%;
}

#randombs a:visited{
	color: #252627;
	text-decoration: underline;
}
#randombs a:active{
	color: #252627;
	text-decoration: underline;
}
#randombs a:link{
	color: #252627;
	text-decoration: underline;
}
#randombs a:hover{
	color: grey;
	text-decoration: underline;
}

#randombs {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 5vmin;
	font-family: "Gowun Dodum";
	justify-content: space-between;
	margin-top: 5vh;
}

#quote {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;

	background : #FFFAFF;
	color: #252627;
	width: 80%;
	border-radius: 5vw;
	border-style: solid;
	border-width: 1vh;
	border-color: black;
}

#quote img{
	border-radius: 100%;
	border-style: dotted;
	border-width: 2%;
	border-color: black;
	max-height: 100%;
	height: 35vh;
	width: auto;
}

#rkok a{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#rkokbg {
	padding: 5vh 0vw 0vh;
	width: 80%;
	border-radius: 200px;
}
